fastapi==0.115.12
uvicorn[standard]==0.34.3
sqlmodel==0.0.22
sqlalchemy==2.0.41
pymysql==1.1.1
pydantic==2.11.4
pydantic-settings==2.9.1
python-dotenv==1.1.0
httpx==0.28.1
python-multipart==0.0.20
slowapi==0.1.9
deep-translator