@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar { width: 6px; }
::-webkit-scrollbar-track { background: #0a0a0f; }
::-webkit-scrollbar-thumb { background: #22223a; border-radius: 3px; }
::-webkit-scrollbar-thumb:hover { background: #22d3ee; }

/* Ocultar barra de Google Translate */
.goog-te-banner-frame,
.goog-te-banner-frame.skiptranslate {
  display: none !important;
}

body {
  top: 0 !important;
}

.goog-te-gadget {
  display: none !important;
}

iframe.goog-te-banner-frame {
  display: none !important;
}

.goog-te-spinner-pos {
  display: none !important;
}

#goog-gt-tt,
.goog-te-balloon-frame {
  display: none !important;
}

.skiptranslate { display: none !important; }
font { background-color: transparent !important; }